.root {
  width: 273px;

  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 68.25px;
    height: 68.25px;
    cursor: pointer;
    border: 1px solid rgb(228, 231, 231);
    box-sizing: border-box;
  }

  li:hover {
    background-color: lighten(#34495e, 30%);
    color: #fff;
  }
}
