.root {
  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    cursor: pointer;
    font-size: .65rem;
    border: 1px solid rgb(228, 231, 231);
    box-sizing: border-box;
  }

  li:hover {
    background-color: #333;
    color: #fff;
  }
}
