.root {
   display: inline-block;
   width: 50%;

   .button_container {
     position: relative;
   }
   button {
     border: none;
     position: absolute;
   }
   .left, .right {
     top: 5px;
   }
   .left {
     left: 5px;
   }
   .right {
     right: 25px;
   }
   table {
     border-collapse: collapse;
   }
   span {
     width: 273px;
     display: block;
     text-align: center;
     margin: 3% 0 3% 0;
     color: #3c3f40;
     font-size: 18px;
     font-weight: bold;
     cursor: pointer;
   }
   tr {
     display: flex;
   }
   tr:nth-of-type(1) {
     justify-content: flex-end;
   }
  td, th {
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
   }
}
