body {
  font-family: 'Rubik';
}
.root {
  display: inline-block;
  width: 273px;
  z-index: 1;
  position: relative;
  bottom: 28px;

   table {
     border-collapse: collapse;
   }

   tr {
     display: flex;
   }

   tr:nth-of-type(1) {
     justify-content: flex-end;
   }

  td, th {
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
   }
}

.button_container {
  display: flex;
  width: 600px;
  justify-content: space-around;

  button {
    width: 273px;
    display: block;
    text-align: center;
    margin: 3% 0 3% 0;
    color: #3c3f40;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.button_single_container {
  position: absolute;
  width: 273px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  z-index: -1;

  button {
    display: block;
    text-align: center;
    margin: 0;
    color: #3c3f40;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    transform: scale(1);
    transition: transform .6s ease;
  }
  button:hover {
    transform: scale(.8);
    transition: transform .6s ease;
  }
}
  .left_arrow {
    position: relative;
    display: inline-block !important;
    right: 120px;
    top: 36px;
    z-index: 2;
    color: #333 !important;
    margin: 0 !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
  }
  .right_arrow {
    position: relative;
    left: 117px;
    display: inline-block !important;
    top: 8.5px;
    z-index: 2;
    color: #333 !important;
    margin: 0 !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}
.calendar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 273px;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3% auto;
    color: #3c3f40;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    text-align: center;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    background-color: #e4e7e7;
    border: 1px solid #e4e7e7;
    border-radius: 5px;
    display: block;
    margin: 3% auto;
    padding: 1.5%;
  }
}
.table {
  width: 273px;
  display: inline-block;
  z-index: 2;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3% auto;
    color: #3c3f40;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
  }
}
.c_button_container {
  display: flex;
  width: 273px;
  justify-content: space-between;

  button {
    display: block;
    text-align: center;
    margin: 3% 0 3% 0;
    color: #3c3f40;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    z-index: 1;
  }
}

  .time_picker {
    width: 273px;
    text-align: center;

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      outline: none;
      margin: 0 auto;
      padding: 0 !important;
    }
  }
