.container {
  display: flex;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 5px;
  z-index: 3;
}

.control_panel {
  position: absolute;
  bottom: 50%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  left: 10%;
  z-index: 3;

  button {
    cursor: pointer;
    background: transparent;
    border-radius: 50px;
    border: 1px solid rgb(52, 73, 94);
    padding: 0;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
}
