.hs {
  display: flex;
  width: 600px;
  justify-content: center;

  button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
  }

  p {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5%;
    border: 2px solid rgb(52, 73, 94);
    cursor: pointer;
  }
}
