.container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wideContainer {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.arrow {
  position: absolute;
  top: 5px;
  z-index: 3;
}

.calendarBtn {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
  height: 100%;
}
